    <h1 class="text-center">Cohort Details</h1>
    <div id="section" class="container table-responsive">
        <hr style="color: red; border: 2px solid red;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Cohort Id</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Instructor Id</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cohort of cohorts">
                    <td>{{cohort.cohortId}}</td>
                    <td>{{cohort.courseName | uppercase}}</td>
                    <td>{{cohort.duration}}</td>
                    <td>{{cohort.startDate | date}}</td>
                    <td>{{cohort.endDate | date}}</td>
                    <td>{{cohort.instructorId}}</td>
                    <td>
                        <button *ngIf="type==='admin'" (click)="updateCohort(cohort.cohortId)" class="btn btn-primary">Update</button>
                        <button *ngIf="type==='admin'" (click)="deleteCohort(cohort.cohortId)" class="btn btn-danger"
                            style="margin-left: 10px;">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="color: red; border: 2px solid red;">
        <!-- </div> -->
    </div>