<app-navbar></app-navbar>
<div class="signupAvnish" style="margin-top: 20px;">
        <div class="col-2=avnish">
            <form class="signupAvnishform" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
                <h1>Register</h1>
                <div id="invalid" *ngIf="flag" style="color:red; font-size:20px">{{msg}}</div>
                <input class="input" type="text" formControlName="firstName" [(ngModel)]="user.firstName" name="firstName" placeholder="First Name" /><br >
                <input class="input" type="text" formControlName="lastName" [(ngModel)]="user.lastName" name="lastName" placeholder="Last Name" /> <br>
                <input class="input" type="email" formControlName="email"  [(ngModel)]="user.email" name="email" placeholder="Email" /> <br />
                <input class="input" type="password" formControlName="password"  [(ngModel)]="user.password" name="password" placeholder="Password" /> <br />
                <input class="radio" type="radio" formControlName="userType" [(ngModel)]="user.userType" value="student" name="userType"><label class="radio" for="userType">Student</label>
                <span></span>
                <input class="radio" type="radio" formControlName="userType" [(ngModel)]="user.userType" value="admin" name="userType"><label class  = "radio" for="userType">Instructor</label>
                <button type="submit"  class="sumbit">Click Here For Registration</button>
                <a routerLink="/login" style="text-align: center;">Login</a>
            </form>
    </div>
</div>