<body>
    <div class="col-md-6 offset-md-3">
        <h1>Add Cohort</h1>
        <form #cohortForm="ngForm" (ngSubmit)="onSubmit(cohortForm.value)">
            <div class="form-group">
                <label for="cohortId">Cohort Id</label>
                <input type="number" class="form-control" id="cohortId" name="cohortId" [(ngModel)]="cohort.cohortId"
                    readonly>

                <label for="courseId">Course Id</label>
                <!-- <input type="number" class="form-control" id="courseId" name="courseId" [(ngModel)]="cohort.courseId"> -->

                <label for="duration">Duration</label>
                <input type="number" class="form-control" id="duration" name="duration" [(ngModel)]="cohort.duration">

                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate" name="startDate"
                    [value]="cohort.startDate | date:'yyyy-MM-dd'">

                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" name="endDate"
                    [value]="cohort.endDate | date:'yyyy-MM-dd'">

                <label for="instructorId">Instructor Id</label>
                <input type="number" class="form-control" id="instructorId" name="instructorId"
                    [(ngModel)]="cohort.instructorId">

                <br>
                <input type="submit" class="btn btn-primary" value="Update" ngModel />&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</body>