<app-navbar></app-navbar>
<div class="login-box">
    <div id="invalid" *ngIf="flag">Invalid credentials</div>
    <h2>Login</h2>
    <form autocomplete="off" (ngSubmit)="onLogin()" class="needs-validation" [formGroup]="user_form" >
        <div class="user-box">
            <input type="text" id="validationCustom01" name="userName" formControlName="userName">
            <label>Username</label>
            <span *ngIf="userName && userName.invalid && userName.touched" style="color:rgb(247, 22, 22);">Email is
                not valid..</span>
        </div>
        <div class="user-box">
            <input type="password" name="password" autocomplete="do-not-autofill" formControlName="password" >
            <label>Password</label>
            <span *ngIf="password && password.invalid && password.touched" style="color:red">Enter valid format..</span>
        </div>
        <button type="submit" [disabled]="user_form.invalid">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </button>
        <span class="one">
            <a routerLink="/register">Click Here for Registration</a>
        </span>

    </form>
</div>